name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "8.0.x"

    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build --configuration Release --no-restore

    - name: Run tests with TRX and coverage
      run: dotnet test --configuration Release --logger "trx;LogFileName=test_results.trx" /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: "**/test_results.trx"

    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage
        path: "**/coverage.opencover.xml"

    # ------------------------------------------
    # Aquí pegás estas 3 tareas adicionales
    # ------------------------------------------
    - name: Install ReportGenerator
      run: dotnet tool install -g dotnet-reportgenerator-globaltool

    - name: Generate HTML coverage report
      run: reportgenerator -reports:**/coverage.opencover.xml -targetdir:coveragereport

    - name: Upload HTML coverage report
      uses: actions/upload-artifact@v4
      with:
        name: html-coverage
        path: coveragereport
